<main>
  <article>
    <h1>Articles Populaires</h1>

    <div class="articles">
      @for(article of articles; track article.id ){ @if(article.isPublished){

      <div [ngClass]="{ 'popular-article': article.likeCount >= 200 }">
        <div class="article_content">
          <div class="article_img">
            <img [src]="article.image" [alt]="article.title" />
          </div>
          <p>{{ article.createdAt | date : "dd/MM/yyy" }}</p>
          <p>{{ article.likeCount }}</p>
          <h2>{{ article.title }}</h2>
          <h3>{{ article.categoryName }}</h3>
          <p>{{ article.content }}</p>
        </div>
      </div>

      } @else{
      <p>"Aucun article publié pour le moment"</p>
      } }
    </div>
  </article>
</main>
